.home{
    display: flex;
}

/*Search Bar Box CSS*/

.searchbar{
    box-sizing: border-box;
    width: 350px;
    height: 510px;
    border: 2px solid #a76565;
    border-radius: 8px;
    padding:  0px 10px 10px;
    margin-left: 66px;
    margin-right: 40px;
}
.searchbar p{
    padding-top: -5px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}
.searchbar input[type="text"]{
    background-color: aqua;
    width: 275px;
    height: 48px;
    background-color: #E8E8E8;
    margin-bottom: 15px;
    border: #E8E8E8 1px solid;
    border-radius: 8px;
    margin-left: 20px;
}
.searchbar input::placeholder{
    color: #5E5E5E;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    padding: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.searchbar button{
    background-color: #f87171;
    color: #ffffff;
    font-weight: 700;
    width: 275px;
    height: 48px;
    margin: 20px 0px 0px;
    font-size: 18px;
    padding: 14px 16px;
    border: #f3f3f3;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20px;
}

/* End of Search Bar Box CSS*/

